body {
    overflow: hidden;
}

header {
    text-align: center;
    height: 124px;
    width: 100%;
    /* position: fixed; */
}

header>div {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin-top: 29px;
    width: 1190px;
    height: 64px;
}

header>div a.logo {
    position: absolute;
    width: 132px;
    height: 64px;
    background: url(../images/logo.png) no-repeat;
    left: 0;
    color: transparent;
}

header>div a.contact {
    position: absolute;
    width: 133px;
    height: 33px;
    border-radius: 15px;
    top: 26px;
    background: #01a5b1;
    color: #feffff;
    right: 0;
    font-size: 14px;
    line-height: 33px;
}

header>div ul {
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    width: 810px;
}

header>div li {
    display: inline-block;
}

header>div li a {
    padding: 0 33px;
    font-size: 15px;
    bottom: 0;
}

section {
    position: relative;
}

.ad_slide {
    position: relative;
    height: 720px;
}

.ad_slide .control {
    left: 0;
    bottom: 66px;
    text-align: center;
    position: absolute;
    z-index: 7;
    left: 50%;
    transform: translateX(-50%);
}

.ad_slide .control ul li {
    display: inline-block;
}

.ad_slide .control ul li button {
    color: transparent;
    margin: 0 10px;
    width: 6px;
    height: 6px;
    background: #b7b7b7;
    border-radius: 3px;
}

.ad_slide .control ul li.on button {
    width: 86px;
}

.ad_slide .slide_box {
    position: relative;
}

.ad_slide .slide_box a {
    display: block;
    color: transparent;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: url(../images/20200618181052.jpg) no-repeat;
    height: 720px;
    width: 2560px;
}