@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
:root {
    --title-font: 'DM Serif Display', serif;
    --main-font: 'Montserrat', sans-serif;
}

html {
    font-family: var(--main-font);
    font-size: 10px;
}

body {
    background: #fff;
    overflow-x: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    /* display: none; */
}


/* Navigations */

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #fff;
    z-index: 99;
}

.main-nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.main-nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li.menu img,
li.cart img {
    margin-bottom: 0.2em;
    width: 28px;
}

.side-nav {
    width: 250px;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 4rem;
    color: #777;
}

.close-btn {
    position: absolute;
    top: 1rem;
    width: 3rem;
    outline: 0;
}

.side-nav.left-nav {
    left: -250px;
    transition: left 0.5s;
    z-index: 100;
}

.side-nav.left-nav .close-btn {
    right: 1rem;
}

.side-nav.right-nav {
    right: -250px;
    transition: right 0.5s;
    z-index: 100;
}

.side-nav.right-nav .close-btn {
    left: 1rem;
}

.category,
.info {
    font-weight: 500;
    padding: 3rem 0;
    border-bottom: 1px #ccc solid;
}

.category-item,
.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    cursor: pointer;
}

.customer-care {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.2rem;
    letter-spacing: 0.2;
    font-weight: 700;
}

.cutomer-item {
    position: relative;
    margin: 0 2em;
}

.cutomer-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2em;
    display: block;
    background: #ccc;
    width: 1px;
    height: 1rem;
}

.cutomer-item:last-child::after {
    display: none;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2.8rem;
    border: 1px #ccc solid;
    margin-bottom: 1em;
}

.search input {
    width: 80%;
    border: 0;
    outline: 0;
    font-size: 1em;
    padding-left: 1em;
}

.search button img {
    height: 1.2rem;
}

.sns {
    display: flex;
    flex-direction: row;
    padding: 2em 0;
}

.sns img {
    height: 1.3em;
    margin-right: 1.5em;
    cursor: pointer;
}

.banners {
    width: 100%;
}

.banners img {
    width: 100%;
    margin-bottom: 3em;
}

.top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
}

.top-title:after {
    content: '';
    display: block;
    width: 1px;
    height: 1em;
    background: #ccc;
    position: absolute;
    top: 6rem;
    left: 50%;
}

.selected-content {
    padding-bottom: 2em;
    margin-bottom: auto;
}

.right-nav .customer-care {
    position: absolute;
    bottom: 0;
    align-items: center;
}

.cart-btn {
    position: absolute;
    bottom: 5rem;
    background: #000;
    color: #fff;
    font-size: 1em;
    width: 70%;
    padding: 1em 0;
}


/* scroll */

.title {
    font-family: var(--title-font);
    font-size: 13vw;
    font-weight: 400;
    text-align: center;
    margin-top: 30vh;
}

p.title {
    margin-top: 0;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.title.title-black {
    color: #000;
    top: 0;
}

.title.title-white {
    color: #fff;
    top: 0;
}

.title-wrap {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    height: fit-content;
    overflow: hidden;
}

.title-wrap .title {
    margin-top: 0;
    position: relative;
}

#scroll-section-0 {
    overflow: hidden;
}

.scroll-section:not(#scroll-section-4) {
    position: relative;
}

.main-elem {
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 4.3vw;
    letter-spacing: -1.2px;
    line-height: 1.7;
    font-weight: bold;
    opacity: 0;
    font-family: 'Noto Serif KR', serif;
}

.sticky-elem {
    display: none;
    position: fixed;
    z-index: 6;
}

.sticky-elem.product-elem {
    opacity: 0;
}

.bottom-bar {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 85%;
    background: #fff;
    z-index: 150;
}

.pocket-spring-elem {
    width: 56%;
    padding: 0 3rem;
    top: 35vh;
    opacity: 0;
}

.pin {
    display: block;
    height: 1px;
    width: 10px;
    background: #000;
    margin: 3rem 0;
}

#scroll-section-2 h2 {
    font-size: 7vw;
    padding: 0 3rem;
    top: 30vh;
    margin-top: 0;
    opacity: 0;
}

#scroll-section-3 h2 {
    font-size: 8vw;
    margin-bottom: 1em;
}

.product-title-elem {
    padding: 0 1rem;
    font-family: var(--title-font);
    color: #000;
    top: 40%;
    left: 10%;
}

.product-title-elem p {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.4rem;
    margin-top: 0.2rem;
    padding: 0 1em;
    text-align: right;
}

.product-elem {
    font-size: 3rem;
    font-family: var(--title-font);
    top: 40%;
    left: 20%;
    text-align: center;
    color: #fff;
}

.product-elem p:last-child {
    border-top: 2px #fff solid;
}

.product-elem.a {
    top: 45%;
    left: 10%;
}

.product-elem.b {
    top: 45%;
    left: 20%;
}

.product-elem.c {
    top: 55%;
    left: 45%;
    color: #000;
}

.product-elem.d {
    top: 45%;
    left: 20%;
    color: #000;
}

.product-elem.c p:last-child,
.product-elem.d p:last-child {
    border-top: 2px #000 solid;
}

.more-elem {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    animation-play-state: paused;
}

@keyframes more-elem-ani {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes more-elem-reverse-ani {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.more-elem .home {
    margin-bottom: 8rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.more {
    position: relative;
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: top;
}

.more-item img {
    width: 100%;
    transform: translateY(-50%);
}

.more-item {
    margin-top: 1em;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.more-item:hover img {
    transform-origin: center;
    transform: scale(1.1);
}

.more-item:active img {
    transform-origin: center;
}

footer {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    transform: translateY(15vh);
    background: #222;
    color: #fff;
    z-index: 30;
    animation-play-state: paused;
}

footer.on {
    position: fixed;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem,
#show-scene-4 #scroll-section-4 .sticky-elem {
    display: block;
}

.video-wrap {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    transform-origin: bottom;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-wrap video {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.canvas-wrap {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.canvas-wrap canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

#scroll-canvas-2-1 {
    left: 50%;
    transform-origin: center;
    transform: translateX(0);
}

#scroll-canvas-2-2 {
    opacity: 1;
    z-index: 5;
    transform: translateX(-200%);
}

#scroll-canvas-3 {
    opacity: 1;
}

@media(min-width:900px) {
    .main-nav ul {
        padding: 0 3em;
    }
    .title {
        font-size: 10vw;
    }
    p.title {
        top: 30%;
    }
    .main-elem {
        top: 60%;
        font-size: 3vw;
    }
    #scroll-section-2 h2 {
        font-size: 4vw;
        margin: 0 16vw;
        top: 30vh;
        margin-top: 0;
    }
    .pocket-spring-elem {
        width: 27%;
        margin: 0 16vw;
        top: 35vh;
        font-size: 1.2rem;
    }
    .pin {
        margin: 6rem 0;
    }
    #scroll-section-3 h2 {
        font-size: 5rem;
        margin-bottom: 1em;
    }
    .product-title-elem {
        padding: 0 5vw;
        left: 45%;
    }
    .product-title-elem p {
        font-family: 'Noto Serif KR', serif;
        font-weight: bold;
        padding: 0 2em;
        text-align: right;
        font-size: 2.2rem;
        line-height: 1.5;
    }
    .product-elem {
        font-size: 5rem;
        line-height: 1.5;
        font-family: var(--title-font);
        top: 40%;
        left: 20%;
        text-align: center;
        color: #fff;
    }
    .product-elem p:last-child {
        border-top: 2px #fff solid;
    }
    .product-elem.a {
        top: 37%;
        left: 30%;
    }
    .product-elem.b {
        top: 45%;
        left: 20%;
    }
    .product-elem.c {
        top: 45%;
        left: 15%;
    }
    .product-elem.d {
        top: 45%;
        left: 63%;
        color: #000;
    }
    .product-elem.d p:last-child {
        border-top: 2px #000 solid;
    }
    .more-elem {
        top: 50px;
    }
    .more {
        width: 75%;
        height: 60%;
    }
    .more-elem .home {
        margin-bottom: 10rem;
    }
    .more {
        position: relative;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .more-item img {
        transform: translateY(0);
        height: 100%;
    }
    .more-item {
        margin-top: 0;
        margin: 0 1em;
        height: 100%;
        cursor: pointer;
    }
    .more-item:active {
        transform-origin: center;
        transform: scale(0.98);
    }
    #scroll-canvas-2-1 {
        top: none;
        left: 50%;
        transform: translateX(0);
        color: #000;
    }
    footer {
        height: 30vh;
        transform: translateY(30vh);
    }
}