        body {
            width: 1440px;
            margin: 0 auto;
            font-family: 'Montserrat', sans-serif;
            overflow-x: hidden;
        }
        
        header {
            position: relative;
            height: 542px;
            background: url(../images/home-slider-slide-3.jpg) 500px 0 no-repeat;
            background-size: contain;
        }
        
        header .head_top {
            height: 115px;
        }
        
        header .head_top .logo {
            display: block;
            position: absolute;
            left: 8px;
            width: 167px;
            height: 115px;
            background: url(../images/tanner_logo_top.png);
            color: transparent;
        }
        
        header .head_top nav {
            margin-left: 282px;
            vertical-align: center;
        }
        
        header .head_top nav ul {
            padding-top: 20px;
        }
        
        header .head_top nav li {
            float: left;
            margin-right: 76px;
        }
        
        header .head_top nav li:nth-child(3) a,
        header .head_top nav li:nth-child(4) a,
        header .head_top nav li:nth-child(5) a {
            color: #fff;
        }
        
        header .head_top nav li.on a::before {
            content: "";
            display: block;
            width: 30px;
            height: 1.5px;
            background: #c6b698;
            position: absolute;
            left: -41px;
            top: 27px;
        }
        
        header .head_top nav li.on a::after {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            background: #c6b698;
            border-radius: 2px;
            position: absolute;
            right: -8px;
            top: 27px;
        }
        
        header .head_top nav li a {
            display: block;
            position: relative;
            height: 57px;
            line-height: 57px;
            font-size: 11px;
            letter-spacing: -0.5px;
            font-weight: 900;
        }
        
        header .left_bar {
            vertical-align: center;
            text-align: center;
            font-size: 14px;
            width: 59px;
            margin: 19px 58px;
        }
        
        header .left_bar>a {
            display: block;
            width: 19px;
            height: 37px;
            font-size: 0;
            margin-left: 20px;
        }
        
        header .left_bar a.bar_pre {
            background: url(../images/Forma1.png) 0 13px no-repeat;
        }
        
        header .left_bar a.bar_pre:hover {
            background: url(../images/Forma2-1.png) 0 13px no-repeat;
        }
        
        header .left_bar a.bar_next {
            background: url(../images/Forma1-1.png) 0 13px no-repeat;
        }
        
        header .left_bar a.bar_next:hover {
            background: url(../images/Forma2.png) 0 13px no-repeat;
        }
        
        header .left_bar ul li a {
            position: relative;
            display: block;
            height: 27px;
            line-height: 27px;
            color: #878787;
        }
        
        header .left_bar ul li.on a {
            display: block;
            width: 59px;
            height: 59px;
            border-radius: 29px;
            background: #fff;
            box-shadow: 0 0 20px #dddfe1;
            font-size: 30px;
            color: #000;
            line-height: 59px;
            margin: 11px 0;
        }
        
        header .left_bar ul {
            padding-top: 53px;
        }
        
        header .left_bar ul li:first-child a::before {
            content: "";
            display: block;
            position: absolute;
            width: 1.5px;
            height: 29px;
            top: -65px;
            left: 29px;
            background: #eae4d9;
        }
        
        header .head_bott {
            position: absolute;
            top: 242px;
            left: 255px;
            width: 576px;
        }
        
        header .head_bott p {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #383838;
            margin-bottom: 21px;
        }
        
        header .head_bott h2 {
            font-size: 34px;
            font-weight: 800;
            color: #292929;
            letter-spacing: 10px;
            line-height: 31px;
            margin-bottom: 54px;
        }
        
        header .head_bott a {
            display: block;
            position: relative;
            font-family: 'Roboto', sans-serif;
            margin-left: 117px;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            color: #b8a47e;
        }
        
        header .head_bott a::before {
            content: "";
            display: block;
            position: absolute;
            background: #b8a47e;
            width: 30px;
            height: 1.3px;
            top: 10px;
            left: -42px;
        }
        
        .voyoager_daypack {
            height: 1164px;
            padding-top: 96px;
            box-sizing: border-box;
        }
        
        .voyoager_daypack .top {
            padding-top: 81px;
            height: 435px;
            background: url(../images/img_2.jpg) no-repeat;
        }
        
        .voyoager_daypack .top .p_line {
            margin-left: 648px;
            padding: 39px 86px 0 351px;
        }
        
        .voyoager_daypack .top .top_txt {
            top: 166px;
            left: 419px;
        }
        
        .voyoager_daypack .top .top_txt h2 {
            letter-spacing: 11px;
        }
        
        .voyoager_daypack .top .top_txt p {
            font-size: 16px;
            margin-left: 365px;
        }
        
        .voyoager_daypack .top .top_txt p.top_txt_ico {
            background: #fff;
            margin-left: 638px;
            margin-top: 80px;
        }
        
        .voyoager_daypack .bott {
            margin-top: 103px;
        }
        
        .voyoager_daypack .bott_fix {
            top: 24px;
            left: 617px;
        }
        
        .voyoager_daypack .bott_fix ul {
            top: 315px;
        }
        
        .voyoager_daypack .bott_fix ul li.on:before {
            width: 1px;
            height: 12px;
            top: -12px;
        }
        
        .drifter_dopp_kit {
            height: 1214px;
            background: #ededed;
            padding-top: 138px;
            box-sizing: border-box;
        }
        
        .drifter_dopp_kit .top {
            background: url(../images/img_3.jpg) 470px 0 no-repeat;
            box-sizing: border-box;
            padding-top: 90px;
        }
        
        .drifter_dopp_kit .top .p_line {
            margin-left: 118px;
            padding: 34px 350px 48px 50px;
            letter-spacing: -0.3px;
        }
        
        .drifter_dopp_kit .top .top_txt h2 {
            letter-spacing: 9.5px;
        }
        
        .drifter_dopp_kit .top .top_txt {
            top: 166px;
            left: 532px;
        }
        
        .drifter_dopp_kit .top .top_txt p {
            font-size: 14px;
            margin-left: 86px;
        }
        
        .drifter_dopp_kit .top_txt p.top_txt_ico {
            position: absolute;
            background: #ededed;
            left: -389px;
            margin-top: 80px;
        }
        
        .drifter_dopp_kit .bott {
            margin-top: 144px;
        }
        
        .drifter_dopp_kit .bott_fix {
            top: 24px;
            left: 617px;
        }
        
        .drifter_dopp_kit .bott_fix ul {
            top: 332px;
        }
        
        .drifter_dopp_kit .bott_fix ul li.on:before {
            width: 1px;
            height: 28px;
            top: -28px;
        }
        
        .tanner_collections {
            position: relative;
            height: 1850px;
        }
        
        .tanner_collections .col_top {
            height: 261px;
            padding: 123px 0 0 298px;
        }
        
        .tanner_collections .col_top h2 {
            font-size: 42px;
            font-weight: 800;
            color: #383838;
            letter-spacing: 14px;
        }
        
        .tanner_collections .col_top p {
            display: block;
            position: relative;
            width: 417px;
            height: 23px;
            background: #e1d9c9;
            color: 6e6555;
            padding-left: 5px;
            line-height: 23px;
            margin: 31px 0 0 578px;
            font-size: 15px;
            font-weight: 500;
        }
        
        .tanner_collections .col_top p::before {
            content: "";
            display: block;
            position: absolute;
            width: 105px;
            height: 1.5px;
            background: #222222;
            top: 11px;
            left: -113px;
        }
        
        .tanner_collections .col_mid {
            position: relative;
            width: 1059px;
            height: 1292px;
            margin-left: 118px;
        }
        
        .tanner_collections .col_mid .card_spruce {
            position: absolute;
            z-index: 2;
            width: 706px;
            height: 1060px;
        }
        
        .tanner_collections .col_mid .card_spruce>p {
            margin-top: 33px;
        }
        
        .tanner_collections .col_mid .card_spruce>p:after {
            content: "";
            display: block;
            position: absolute;
            width: 105px;
            height: 1.5px;
            background: #222222;
            top: 23px;
            left: 73px;
        }
        
        .tanner_collections .col_mid .card_spruce>div {
            width: 406px;
            margin: 55px 0 0 119px;
            text-align: center;
        }
        
        .tanner_collections .col_mid li>div>div {
            display: block;
            position: absolute;
            width: 406px;
            height: 22.5px;
            background: #e1d9c9;
            color: transparent;
            top: 8px;
            z-index: 1;
        }
        
        .tanner_collections .col_mid .card_spruce>div h3::before {
            width: 1.3px;
            height: 105px;
            top: -118px;
            left: 34px;
        }
        
        .tanner_collections .col_mid .card_spruce>div p {
            margin: 21px 0 21px 147px;
        }
        
        .tanner_collections .col_mid .card_spruce>div a {
            margin-left: 147px;
            margin-bottom: 67px;
        }
        
        .tanner_collections .col_mid .card_spruce>div a img {
            display: inline;
            margin: 4px;
        }
        
        .tanner_collections .col_mid .img_spruce_1 {
            margin-top: -22px;
        }
        
        .tanner_collections .col_mid .img_spruce_2 {
            margin-top: -18px;
            margin-left: 119px;
        }
        
        .tanner_collections .col_mid .card_nomad {
            position: absolute;
            top: 129px;
            left: 538px;
            width: 522px;
            height: 649px;
            z-index: 3;
            box-sizing: border-box;
        }
        
        .tanner_collections .col_mid .card_nomad>div {
            position: relative;
            width: 283px;
            margin: 70px 0 123px 220px;
        }
        
        .tanner_collections .col_mid .card_nomad>div p {
            margin: 17px 0 21px;
        }
        
        .tanner_collections .col_mid .card_nomad>div a img {
            display: inline;
            margin: 4px;
        }
        
        .tanner_collections .col_mid .card_nomad>div::before {
            content: "";
            display: block;
            position: absolute;
            width: 1.5px;
            height: 52px;
            background: #222222;
            top: -70px;
            left: 1px;
        }
        
        .tanner_collections .col_mid .card_nomad>div::after {
            content: "";
            display: block;
            position: absolute;
            width: 1.5px;
            height: 106px;
            background: #222222;
            top: 156px;
            left: 10px;
        }
        
        .tanner_collections .col_mid .card_nomad>img {
            display: block;
            margin-left: 74px;
        }
        
        .tanner_collections .col_mid .card_field {
            position: absolute;
            z-index: 1;
            width: 554px;
            height: 517px;
            top: 777px;
            left: 516px;
        }
        
        .tanner_collections .col_mid .card_field>div {
            width: 353px;
            margin: 21px 0 0 189px;
        }
        
        .tanner_collections .col_mid .card_field>div p {
            margin: 17px 0 21px;
        }
        
        .tanner_collections .col_mid .card_field>div a img {
            display: inline;
            margin: 4px;
        }
        
        .tanner_collections .col_mid .card_field>img {
            display: block;
            margin-top: -24px;
        }
        
        .tanner_collections .col_mid .card_field>p {
            margin: 10px 0 0 476px;
        }
        
        .tanner_collections .w_txt {
            position: absolute;
            z-index: 4;
            display: block;
            width: 370px;
            height: 105px;
            font-size: 42px;
            font-weight: 800;
            letter-spacing: 19px;
            color: #fff;
            text-shadow: 0 10px 10px #a3a5a7;
            top: 1118px;
            left: 200px;
        }
        
        .tanner_collections .col_bott {
            width: 1101px;
            height: 172px;
            box-sizing: border-box;
            padding-top: 47px;
            padding-left: 55px;
        }
        
        .tanner_collections .col_bott ul {
            display: flex;
            flex-flow: row wrap-reverse;
            width: 1100px;
            height: 124px;
            justify-content: space-between;
        }
        
        .tanner_collections .col_bott ul li {
            width: 125px;
            height: 124px;
        }
        
        .tanner_collections .col_bott ul li:nth-child(1) {
            background: url(../images/sm_bott_img1.jpg) no-repeat;
            background-size: contain;
        }
        
        .tanner_collections .col_bott ul li:nth-child(2) {
            background: url(../images/sm_bott_img2.jpg) no-repeat;
            background-size: contain;
        }
        
        .tanner_collections .col_bott ul li:nth-child(3) {
            background: url(../images/sm_bott_img3.jpg) no-repeat;
            background-size: contain;
        }
        
        .tanner_collections .col_bott ul li:nth-child(4) {
            background: url(../images/sm_bott_img4.jpg) no-repeat;
            background-size: contain;
        }
        
        .tanner_collections .col_bott ul li:nth-child(5) {
            background: url(../images/sm_bott_img5.jpg) no-repeat;
            background-size: contain;
        }
        
        .tanner_collections .col_bott ul li:nth-child(6) {
            background: url(../images/sm_bott_img6.jpg) no-repeat;
            background-size: contain;
        }
        
        .tanner_collections .col_bott ul li:nth-child(7) {
            position: relative;
            display: block;
            width: 163px;
            height: 430px;
            background: #e3dccd;
        }
        
        .tanner_collections .col_bott ul li:nth-child(7) p {
            position: absolute;
            font-size: 35px;
            font-weight: 700;
            letter-spacing: 16px;
            width: 100px;
            color: #868178;
            left: 62px;
            bottom: 63px;
        }
        
        .tanner_collections .col_bott ul li a {
            color: transparent;
        }
        
        .tanner_collections .col_bott ul li:hover a {
            display: block;
            width: 125px;
            height: 124px;
            background: url(../images/ico_plus.png) 45px 46px no-repeat rgba(0, 0, 0, 0.5);
        }
        /* 
        
        
        
        
        
        
        
        PROUDUCT COMMON */
        
        .top {
            position: relative;
            height: 435px;
        }
        
        .top .p_line {
            display: block;
            border: 2.5px #c1b08f solid;
            width: 673px;
            height: 242px;
            text-overflow: ellipsis;
            word-break: keep-all;
            box-sizing: border-box;
            font-size: 12px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            color: #a7a7a7;
            line-height: 30px;
        }
        
        .top .top_txt {
            position: absolute;
            color: #fff;
        }
        
        .top_txt h2 {
            font-size: 34px;
            font-weight: 800;
            line-height: 34px;
            margin-bottom: 18px;
        }
        
        .top_txt p {
            font-weight: 500;
        }
        
        .top_txt p.top_txt_ico {
            display: block;
            width: 149px;
            height: 59px;
            text-align: center;
        }
        
        .bott {
            position: relative;
            font-size: 0;
        }
        
        .bott_wrap {
            width: 1440px;
            height: 329px;
            overflow: hidden;
            white-space: nowrap;
        }
        
        .bott_wrap a {
            display: inline-block;
            width: 324px;
            height: 205px;
            margin-left: 29px;
        }
        
        .bott_wrap a img {
            display: block;
            width: 324px;
            height: 205px;
        }
        
        .bott_wrap a.on {
            width: 440px;
            height: 329px;
        }
        
        .bott_wrap a.on img {
            width: 440px;
            height: 329px;
        }
        
        .bott_fix {
            position: absolute;
            width: 560px;
            text-align: center;
        }
        
        .bott_fix .buy {
            display: block;
            position: absolute;
            padding: 109px 126px 0 0;
            left: 0;
            display: block;
            width: 462px;
            height: 172px;
            border: 2.5px #767573 solid;
            font-size: 19px;
            font-weight: 700;
            color: #878787;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 2px;
        }
        
        .bott_fix span {
            display: block;
            top: 31px;
            left: 28px;
            position: absolute;
            color: #000;
            font-size: 32px;
            font-weight: 800;
            letter-spacing: 12px;
        }
        
        .bott_fix img {
            position: absolute;
            top: 110px;
            left: 203px;
        }
        
        .bott_fix ul>a {
            position: absolute;
            display: block;
        }
        
        .bott_fix ul>a.pre {
            background: url(../images/ico_pre.png) no-repeat;
            font-size: 0;
            top: 27px;
            left: 132px;
            height: 25px;
            width: 11px;
        }
        
        .bott_fix ul>a.next {
            background: url(../images/ico_next.png) no-repeat;
            font-size: 0;
            top: 27px;
            left: 270px;
            height: 25px;
            width: 11px;
        }
        
        .bott_fix ul {
            display: block;
            position: absolute;
            left: 130px;
            width: 440px;
            height: 70px;
        }
        
        .bott_fix ul li {
            display: inline-block;
            margin-right: 26px;
        }
        
        .bott_fix ul a {
            width: 39px;
            height: 15px;
            font-size: 15px;
            font-weight: 700;
            color: #878787;
        }
        
        .bott_fix ul li.on {
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 35px;
            box-shadow: 0 0 15px #d1d3d4;
            margin: 0 72px 0 46px;
            background: #fff;
        }
        
        .bott_fix ul li.on a {
            font-size: 27px;
            color: #000;
        }
        
        .bott_fix ul li.on:before {
            content: "";
            display: block;
            position: absolute;
            background: #c4c4c4;
            left: 202px;
        }
        /* tanner_collections  */
        
        .col_mid li>div {
            position: relative;
        }
        
        .col_mid li>div h3 {
            position: relative;
            font-size: 16px;
            line-height: 16px;
            font-weight: 800;
            color: #383838;
            letter-spacing: 6px;
            z-index: 2;
        }
        
        .col_mid li>div h3::before {
            content: "";
            display: block;
            position: absolute;
            width: 1.3px;
            background: #000;
        }
        
        .col_mid li>div p {
            font-size: 12px;
            font-weight: 100;
            font-family: 'Roboto', sans-serif;
            line-height: 17px;
            white-space: normal;
            word-break: keep-all;
            text-align: initial;
        }
        
        .col_mid li>div a {
            display: block;
            width: 95px;
            height: 10px;
            font-size: 10px;
            font-weight: 700;
            line-height: 12px;
            font-family: 'Roboto', sans-serif;
        }
        
        .col_mid li>p {
            position: relative;
            line-height: 38px;
            font-size: 38px;
            font-weight: 800;
            color: #969696;
            letter-spacing: 14px;
        }