body {
    height: 500vw;
    background: #000;
    -webkit-overflow-scrolling: touch;
    color: #fff;
}

.space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}

.house {
    width: 100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}

.wall {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}

.wall-side-left {
    width: 1000vw;
    transform: rotateY(90deg) translateZ(-500vw);
    background: url(../images/space_side_img.jpg);
}

.wall-side-right {
    width: 1000vw;
    transform: rotateY(90deg) translateZ(-400vw);
    background: url(../images/space_side_img.jpg);
}

.wall-side-top {
    height: 1000vw;
    transform: rotateX(90deg) translateZ(500vw);
    background: url(../images/space_side_img.jpg);
}

.wall-side-bottom {
    height: 1000vw;
    transform: rotateX(90deg) translateZ(calc(453vw));
    background: url(../images/space_side_img.jpg);
}

.wall-front {
    background-repeat: no-repeat;
    background-size: contain;
}

.wall-front-a {
    background-image: url(../images/space_obj_1.png);
    transform: translateZ(440vw);
}

.wall-front-b {
    background-image: url(../images/space_obj_2.png);
    transform: translateZ(250vw);
}

.wall-front-c {
    background-image: url(../images/space_obj_3.png);
    transform: translateZ(20vw);
}

.wall-front-d {
    background-image: url(../images/space_obj_4.png);
    transform: translateZ(-200vw);
}

.wall-front-e {
    background-image: url(../images/space_obj_5.png);
    transform: translateZ(-400vw);
}

.wall-back {
    width: 120vw;
    height: 120vh;
    background-image: url(../images/space_side_img.jpg);
    background-size: cover;
    transform: translateZ(-520vw);
}

.progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 10px;
    background: #555;
    z-index: 100;
}

.progress-bar {
    height: 10px;
    background: rgb(232, 0, 253);
}

.progress-bar>img {
    width: 15px;
    height: 10px;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
}


/* character */

.character {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 10.7vw;
    height: 12.8vw;
    transform-style: preserve-3d;
}

.character-face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    transform-style: preserve-3d;
}

.pig-body {
    left: calc(241 / 1076 * 100%);
    top: 0;
    z-index: 60;
    width: calc(600 / 1076 * 100%);
    height: calc(1114 / 1280 * 100%);
    background-size: contain;
    background-repeat: no-repeat;
}

.pig-body-front {
    background-image: url(../images/pig-body-front.png);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.pig-body-back {
    background-image: url(../images/pig-body-back.png);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
}

.pig-arm-left {
    left: 0;
    top: calc(583 / 1280 * 100%);
    z-index: 60;
    width: calc(241 / 1076 * 100%);
    height: calc(270 / 1280 * 100%);
    background-image: url(../images/pig-arm-left.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.pig-arm-right {
    left: calc(839 / 1076 * 100%);
    top: calc(583 / 1280 * 100%);
    z-index: 60;
    width: calc(241 / 1076 * 100%);
    height: calc(270 / 1280 * 100%);
    background-image: url(../images/pig-arm-right.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.pig-leg-left {
    left: calc(285 / 1076 * 100%);
    top: calc(1063 / 1280 * 100%);
    z-index: 60;
    width: calc(126 / 1076 * 100%);
    height: calc(226 / 1280 * 100%);
    background-image: url(../images/pig-leg-left.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.pig-leg-right {
    left: calc(690 / 1076 * 100%);
    top: calc(1063 / 1280 * 100%);
    z-index: 60;
    width: calc(126 / 1076 * 100%);
    height: calc(226 / 1280 * 100%);
    background-image: url(../images/pig-leg-right.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.pig-tail {
    left: calc(35 / 1076 * 100%);
    top: calc(870 / 1280 * 100%);
    z-index: 60;
    width: calc(299 / 1076 * 100%);
    height: calc(263 / 1280 * 100%);
    background-image: url(../images/pig-tail-front.png);
    background-size: contain;
    background-repeat: no-repeat;
}